@using SecurityApplication.Models
@model SecurityApplication.Helpers.SecureHelper
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.PeopleTableActions = true;
}

<h2>"Secure" Methods</h2>

@if (!String.IsNullOrEmpty(ViewBag.Message))
{
    <div class="alert alert-success alert-dismissable">
        @ViewBag.Message
    </div>
}

<p class="alert alert-info">This section shows the more correct way to handle the issues presented in the @Html.ActionLink("Insecure", "Index", "Insecure") section of the presentation</p>

<h3 class="col-md-12 well well-lg">Demonstration 1: SQL Injection</h3>

<h4 class="col-md-12 well well-sm">Option 1: Entity Framework</h4>
<div class="col-md-12">
    <p class="alert alert-success">Click "Edit" below in one of the table entries to edit a record</p>
    @Html.Partial("PeopleTable", @Model)
</div>

<h4 class="col-md-12 well well-sm">Option 2: Using Parameterized SqlCommand</h4>
<div class="col-md-12">
    <p class="alert alert-success">@Html.ActionLink("Click Here", "SqlInjection") to attempt the same SQL Injection as before</p>
</div>

<h3 class="col-md-12 well well-lg">Demonstration 2: XSS</h3>