
<h2>"InSecure" Methods</h2>

@if (!String.IsNullOrEmpty(ViewBag.Message))
{
    <div class="alert alert-success alert-dismissable">
        @ViewBag.Message
    </div>
}

<p class="alert alert-info">This section shows the more incorrect way to handle security, the correct way is in @Html.ActionLink("Secure", "Index", "Secure") section of the presentation</p>

<h3 class="col-md-12 well well-lg">Demonstration 1: SQL Injection</h3>
<div class="col-md-12 alert alert-link">
    <p>SQL Injection is the process of hijacking a parameter being sent to the server.  To run through this demo, @Html.ActionLink("Click Here", "SqlInjection")</p>
</div>

<h3 class="col-md-12 well well-lg">Demonstration 2: XSS</h3>