@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Application Security for Developers</h1>
    <p class="lead">A sample application that demonstrates various security vulnerabilities with a more correct way of handling them.</p>
</div>

<div class="row">
    <div class="col-md-12">
        <p>Topics Covered:</p>
        <ul class="nodot">
            <li><span class="glyphicon glyphicon-warning-sign demo-glyphicon-align"></span> SQL Injection (SQLi)</li>
            <li><span class="glyphicon glyphicon-warning-sign demo-glyphicon-align"></span> Cross Site Scripting (XSS)</li>
        </ul>
    </div>
    <div class="col-md-12">
        <ul class="nodot">
            <li><span class="glyphicon glyphicon-circle-arrow-right demo-glyphicon-align"></span> Repository Location: <a href="https://github.com/eleightondick/demo-dbsecdev" target="_new">https://github.com/eleightondick/demo-dbsecdev</a></li>
            <li><span class="glyphicon glyphicon-ban-circle demo-glyphicon-align"></span> Part 1: @Html.ActionLink("Insecure Methods", "Index", "Insecure")</li>
            <li><span class="glyphicon glyphicon-check demo-glyphicon-align"></span> Part 2: @Html.ActionLink("Secure Methods", "Index", "Secure")</li>
        </ul>
        <p></p>
    </div>
</div>