@model SecurityApplication.Helpers.Helper
<h4>Current Contents of Model</h4>
<table class="table table-bordered">
    <thead>
    <tr>
        <td>Id</td>
        <td>Comment</td>
    </tr>
    @Html.DisplayFor(m => m.Comments)
    </thead>
</table>