@model SecurityApplication.Helpers.Helper
<h4>Current Contents of Model</h4>
<table class="table table-bordered">
    <thead>
        <tr>
            <td>Id</td>
            <td>Company</td>
            <td>First Name</td>
            <td>Last Name</td>
        </tr>
        @Html.DisplayFor(m => m.People)
    </thead>
</table>